body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #FFD700, #FF6347);
}

.calculator {
    background: #fff;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;
    width: 90%;
    max-width: 600px;
}

.heading {
    color: #FF6347;
    margin-bottom: 20px;
    font-size: 24px;
}

.inputs {
    margin: 10px 0;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.num-input {
    width: calc(20% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.num-input:focus {
    border-color: #FF6347;
}

.buttons {
    margin-bottom: 20px;
}

.calculate-btn,
.reset-btn {
    width: calc(50% - 20px);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.calculate-btn {
    background: #FF6347;
    color: white;
}

.calculate-btn:hover {
    background: #FF4500;
}

.reset-btn {
    background: #333;
    color: white;
}

.reset-btn:hover {
    background: #555;
}

.final-answer {
    font-size: 18px;
    font-weight: bold;
    color: #FF6347;
    margin-top: 20px;
}

#credentials {
    font-size: 0.8rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#credentials a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

#credentials a:hover {
    color: #da3e3e;
}

@media screen and (max-width: 600px) {
    .num-input {
        width: calc(100% - 20px);
    }

    .calculate-btn,
    .reset-btn {
        width: calc(50% - 20px);
    }
}
